
@import '~antd/dist/antd.css';



.header-top{
    width: auto;
    height: auto;
    background-color: black;
}
.span-cilck{
    color: gray;
    font-size: 20px;
    padding: 15px 15px;
    margin-top: auto;

}
a{
    margin: 0px;
    transition: color .2s;

}
a:hover{
    color: white;
}
.sider-left{
    width:200px;
    background: '#fff'
}
.block{
    display: flex;
    margin: 30px 0px 0px 30px;
}
.row{
    margin-bottom: 10px;
}
.box{
    display: flex;
    flex-direction: row;
}
.box-one{
    width: 50%;
}
.box-two{
    width: 50%;
}
.list{
    list-style: none;
    font-size: 1rem;
    width: 100%
}
.distance{
    margin-top: 30px;
}
.button-width{
    margin-left: 40px;
    width: 20%;
}
.input-width{
    width: 15%;
}
.box-size{
    height: 1000px;
}
.box-li {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}
.box-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.box-list-menu{
    width: 30%;
    margin: 0 0 2%;
}
.box-add{
    width: 10%;
}
.box-delete{
    width: 20%;
}
.button-add {
    margin: 2% 0 3%;
}
.box-button{
    width: 100%;
    margin-top: 10px;
    margin: 20px;
}
.box-total{
    margin-top: 10px;
}
